.new-note-form-container {
  align-self: flex-start;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 75%;

  .new-note-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .code-input {
      margin-bottom: 0.7rem;
      width: 4rem;
      border: none;
      background-color: rgba(255, 255, 255, 0.63);
      border-radius: 7px;
      padding: 0.3rem 1rem;
    }

    .comments-input {
      margin-bottom: 0.7rem;
      height: 6rem;
      width: 98.5%;
      padding: 0.5rem 0.8rem;
      border: none;
      background-color: rgba(255, 255, 255, 0.63);
      border-radius: 10px;
      outline: none;
      resize: none;
    }

    .new-note-submit-btn {
      border: none;
      width: 7rem;
      background-color: rgba(27, 245, 245, 0.3);
      border: 1px solid rgba(77, 7, 7, 0.2);
      padding: 0.3rem 2rem;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        filter: brightness(85%);
      }
    }
  }
}

.margin-left-note-form {
  margin: 0 auto;
}
